/* This part is external css */ 
*{
  margin: 0;
}


    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color:#9BA4B5;
    }
    

    main {
      max-width:100%;
      margin: 0 auto;
      padding: 0 10px;
      
    }

    .city {
      align-items: center;
      justify-content: center;
      background-color: rgba(247, 185, 185, 0.314);
      }

    h2 {
      padding: 10px;
      text-align: center;
      color: #4408bb;
      font-size: 24px;
    }

    img{
      width: 100%;
      max-height: 400px;
    }

    p {
      line-height: 1.5;
    }

    .description{
      margin-top: 20px;
      padding: 7px;
      background-color: rgb(153, 187, 216);
      display: flex;
    }

    .details{
      width: 50%;
      padding: 5px;
      text-align: justify;
      margin-right: 50px;    
    }

    .desp{
      border-right: 2px solid rgb(37, 3, 3);
      padding-right: 40px;
    }
    
    .footer{
      padding: 50px;
      text-align: center;
      background-color: #001C30;
      color: #fff;

}



